<!DOCTYPE html>  
<html lang="en">  
<head>  
<meta charset="utf-8">  
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<meta name="description" content="">  
<meta name="author" content="">  
<link rel="icon" href="http://jhere.net/favicon.ico">
<script src="js-lib/jquery-1.9.0.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
<script src="js-lib/jquery.mousewheel.min.js"></script>
<script src="js-lib/three.js"></script>
<script src="js-lib/stats.js"></script>
<script src="js-lib/detector.js"></script>
<script src="js-lib/Sparks.js"></script>
<script src="js-lib/colladaloader.js"></script>
<script type="text/javascript" src="js-lib/modernizr.custom.52731.js"></script> 
<script type="text/javascript" src="js-lib/jquery.terminal-min.js"></script> 
<script type="text/javascript" src="js-lib/jquery.toaster.min.js"></script> 
<script type="text/javascript" src="js-lib/async.js"></script> 
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="http://code.createjs.com/soundjs-0.4.0.min.js"></script>

<link rel="stylesheet" type="text/css" href="js-lib/style.css" />
<link rel="stylesheet" type="text/css" href="css/demo.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/jquery.terminal.css" />
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
</head> 